extends layout

block content

    nav.navbar.navbar-default( role="navigation" )
        .navbar-header
            a.navbar-brand()= title            
        .collapse.navbar-collapse.navbar-right
            ul.nav.navbar-nav
                li
                    a(href="/help") Help

    .container-fluid
        .row
            .col-md-6
                .row
                    .col-md-6
                        if user
                            .panel.panel-default.loginPanel
                                .panel-heading
                                    h4 Profile
                                .panel-body 
                                    p.username Welcome #{user.username}
                                    a(href="/logout", class="btn btn-block btn-default") Logout
                        else
                        
                            .panel.panel-default.loginPanel
                                .panel-heading
                                    h4 Login
                                .panel-body 
                                    #login
                                        
                                    a(href="/auth/facebook", class="btn btn-block btn-social btn-facebook")
                                        i(class="fa fa-facebook")
                                        span Sign in with Facebook
                                        
                                    a(href="/auth/google", class="btn btn-block btn-social btn-google")
                                        i(class="fa fa-google") 
                                        span Sign in with Google
                    
                    if user                    
                        .col-md-6
                            .panel.panel-default
                                .panel-heading 
                                    h4 Add Buddy
                                .panel-body 
                                    #addBuddy
                                    fieldset
                                        .form-horizontal
                                            .form-group
                                                label.col-sm-2 Name
                                                .col-sm-10
                                                    input#inputBuddyName(type='text', class="form-control", placeholder='Name')
                                            .form-group
                                                label.col-sm-2 Champion
                                                .col-sm-10
                                                    input#inputBuddyChampion(type='text', class="form-control", placeholder='Champion')  
                                                    .help-block Either choose a champion from the list, or make up your own champion.
                                            .form-group
                                                .col-sm-12
                                                    button#btnAddBuddy(type='submit', class="form-control btn btn-default") Add Buddy
                                            .form-group                                           
                                                .col-sm-6
                                                    button#btnEditBuddy(type='submit', class="form-control btn btn-default") Edit Buddy
                                                .col-sm-6
                                                    button#btnClearBuddy(type='submit', class="form-control btn btn-default") Clear Fields
                .row
                    .col-md-12      
                        .panel.panel-default
                            .panel-heading 
                                h4 Buddy List
                            .panel-body 
                                #buddyList
                                    table.table
                                        thead
                                            th Name
                                            th Champion
                                            th User
                                            th Created
                                            if user
                                                th Actions
                                        tbody
            .col-md-6      
                .panel.panel-default
                    .panel-heading 
                        h4 Champions
                    .panel-body 
                        #championsList
                            table.table
                                thead
                                    th Name
                                    th Title
                                tbody
        