doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-social.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    script(src="/js/sweetalert.min.js")
    link(rel="stylesheet" type="text/css" href="/css/sweetalert.css")
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/global.js')
