extends layout

block content

    nav.navbar.navbar-default( role="navigation" )
        .navbar-header
            a.navbar-brand()= title

    .container
        form(class="form",action='/register',method='post')
            h2(class="form-signin-heading") Hello world!
            label(for="username" class="sr-only") Username
            input(type="text" class="form-control" placeholder="Username" required="true" autofocus="")
            label(for="password" class="sr-only") Password
            input(type="password" class="form-control" placeholder="password" required="true")
            button(class="btn btn-lg btn-primary btn-block" type="submit") Register